*{
    background-color: black;
}
.ab1{
    font-size: 70px;
}
.ab {
    font-size: 70px;
}
.fr{
    float: right;
}
.gt{
    font-size: 25px;
}

.f1{
    float: left;
}
.tr{
    font-size: 80px;
}

.s1:hover {
    
    padding-bottom: 2px;
    border-color: green;       
}
